:root {
	--color-bg: #ece9e5;
	--color-text: #000;
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #313030;
		--color-text: #fff;
	}
}

html {
	font-family:
		Inter,
		sans-serif,
		-apple-system;
	background-color: var(--color-bg);
	color: var(--color-text);
}

a {
	color: inherit;
	text-decoration: none;
}
