:root {
	--color-bg: #ece9e5;
	--color-text: #000;
	--font-large: 4rem;
	--font-medium: 1.4rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #313030;
		--color-text: #fff;
	}
}
@media screen and (max-width: 600px) {
	:root {
		--font-large: 2.5rem;
		--font-medium: 1.2rem;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	font-weight: 100;
}

html {
	font-family:
		Inter,
		sans-serif,
		-apple-system;
	background-color: var(--color-bg);
	color: var(--color-text);
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	view-transition-name: footer;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(30px);
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-30px);
	}
}

/* View transistion */
:root::view-transition-old(root) {
	animation:
		90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
		300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

:root::view-transition-new(root) {
	animation:
		210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
		300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
